body {
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
header {
    background-color: rgba(162, 213, 255, 0.2);
    background-size: cover;
    margin-left: -10px;
    margin-right: -10px;
}
#head {
    margin-top:-20px;
    padding-left: 100px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: min-content;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(0, 0, 0);
    background-color: white;
}

.head-bar {
    padding-right: 200px;
}

a {
    border-radius: 3px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    gap: 5px;
    padding: 5px;
}

a:hover {
    background-color: rgba(0, 0, 0, 0.4)
}

#title {
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    margin: auto;
    color: white;
}

#title > h1 {
    padding: 20px;
}

#title > h3 {
    color: white;
    padding-bottom: 10px;
}

/* Main */
#main-content{
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 500px;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 18px;
    margin-top: -18px;
    padding-bottom: 120px;
}



.review{
    flex-basis: 60%;
    flex-grow: 0;
    margin-left: 100px; 
    height: 100%;
    
}

.review > p {
    padding: 5px;
    margin-bottom: 0px;
}

button{
    margin-top: 15px;
}

.imgslide {
    display: none;
}

.prev, .next {
    cursor: pointer;
    margin: 50px;
    width: auto;
    padding: 16px;
    color: white;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.8);
}

.pre:hover, .next:hover {
    background-color: white;
    color: black;
}

.next{
    right: 0;
    border-radius: 3px;
}


.gambar {
    max-height: 400px;
    max-width: 100%;
    border-radius: 8px;
    flex-basis: 60%;
    border: 2px solid rgba(73, 255, 194, 0.473);
    margin-right: 50px;
}
.form {
    width: 100%;
    flex-basis: 25%;
    background-color: rgba(162, 213, 255, 0.2);
    padding-right: -50px;
    border-radius: 10px;
    padding-left: 10px;
    color: rgb(0, 0, 0);
}

input, select {
    border-radius: 5px;
    padding: 5px;
}

.orang {
    display: flex;
    padding: 5px;
}

.orang > .namaorang {
    display: block;
    margin-left: 10px;
    margin-top: -10px;
    border-radius: 10px;
    
}

#nama-review + p{
    margin-top: -15px;
    font-size: smaller;
    margin-left: 2px;
}

.orang > img {
    height: 50px;
    border-radius: 50%;

}

.promo {
    padding-left: 100px;
    margin-right: -10px;
    padding-right: 90px;
    background-color: rgba(162, 213, 255, 0.2);
}

.promo-list  {
    display: flex;
    gap: 30px;
    justify-content: center;
}

select {

}

.promo-title {
    margin-left: 50px;
}

.promo-list {
}

.promo-list > div > p{
    margin-left: 10px;
}

.polaroid > img {
    border-radius: 10px;
    height: 130px;
}

.container h3 {
    color: red;
}

div.polaroid {
    border-radius: 10px;
    width: 250px;
    height: 280px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }

  div.container {
    text-align: center;
    padding: 10px 20px;
  }

footer {
}

footer p{
    margin-left: 20px;
}

  @media only screen and (max-width: 768px) {
    #head {
        padding-left: 5%;
        
        }
        
        .head-bar {
            padding-right: 5%;
        }

        #title > h1 {
            padding: 10px;
        }
        #main-content {
            padding: 18px 5%;
        }
        .review,
        .gambar,
        .form,
        .promo {
            flex-basis: 100%;
            margin-left: 0;
            margin-right: 0;
        }

        .promo-list{
            display: block;
        }
    }

